.header {
    background: #3f1e6b;
    border-radius: 0 0 10px 10px;
    z-index: 10;
}

.headerWrapper {
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 4px;
    height: 64px;
    width: 100%;
}

.avatarImg {
    height: 60px;
    padding-right: 14px;
}

.nameUser {
    font-size: 26px;
    margin-bottom: 4px;
}

.leftSide {
    display: flex;
    align-items: flex-end;
}

.rightSide {
    display: flex;
    align-self: center;
}

.menuImg {
    cursor: pointer;
    margin-right: 10px;
}

.menuImg:hover {
    opacity: 0.6;
}
