.page {

}

.pageHeader {

}

.pageContent {

}

.pageHeader .container {
    display: flex;
    flex-direction: column;
    padding: 16px 8px 4px;
    font-weight: 600;
    line-height: 1.2;
}

.title {
    font-size: 30px;
}

.subTitle {
    color: #808080;
    font-size: 26px;
}

.pageFooter {

}