.dropdown {
    position: relative;
    display: inline-block;
}

.dropdownContent {
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 0px 8px 8px rgba(63,30,107,0.6);
    border: 1px solid #d3b2ff;
    z-index: 1;
    border-radius: 8px;
    right: 0px;
    margin-top: 12px;
}

.item {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
